<!-- sidebar.component.html -->
<div class="sidebar p-3 d-flex flex-column h-100" >
  <div class="mb-4 d-flex justify-content-center  align-items-center gap-2">
    <img class="p-3" src="assets/main-logo.png" alt="Logo">
  </div>

  <div class="nav flex-column mb-auto mx-4">
    @for (item of (sidebarItems()| slice:0:6); track $index) {
      <a
      [routerLink]="item.route"
      class="nav-link d-flex justify-content-center justify-content-lg-start align-items-center gap-3 mb-2 p-3"
      [class.active]="isActive(item.route)"
    >
    @if (item.icon) {

      <i [class]="item.icon"></i>
    } @else {
      <!-- {{item.title}} -->
      <i class="custom-icon" inlineSVG="assets/icons/{{item.title}}.svg"></i>
    }
      <span class="d-none d-lg-inline-block">{{ item.title }}</span>
      @if (item.hasNotification) {

        <span  class="ms-auto">
          <span class="badge bg-danger rounded-circle" style="width: 8px; height: 8px;"></span>
        </span>
      }
    </a>
    }
    <hr>
    @for (item of (sidebarItems() | slice:6); track $index) {
      <a
      [routerLink]="item.route"
      class="nav-link d-flex justify-content-center justify-content-lg-start align-items-center gap-3 mb-2 p-3"
      [class.active]="isActive(item.route)"
    >
    @if (item.icon) {

      <i [class]="item.icon"></i>
    } @else {
      <!-- {{item.title}} -->
      <i style="display: inline-block; margin-left: -4px;" inlineSVG="assets/icons/{{item.title}}.svg"></i>
    }
      <span class="d-none d-lg-inline-block">{{ item.title }}</span>
      @if (item.hasNotification) {

        <span  class="ms-auto">
          <span class="badge bg-danger rounded-circle" style="width: 8px; height: 8px;"></span>
        </span>
      }
    </a>
    }
  </div>

  <div class="mt-auto mx-4">
    <div class="d-flex bg-gray align-items-center gap-3 p-3 rounded shadow-sm">
      <img src="assets/profile.png" alt="">
      <div class="d-none d-lg-block">
        <div class="fw-bold">&#64;Jabastinv</div>
        <div class="text-muted small">Company</div>
      </div>
      <i class="d-none d-lg-inline-block fas fa-chevron-right ms-auto"></i>
    </div>
  </div>
</div>
