:host {
  display: block;
  height: 100%;
}
// sidebar.component.scss
.sidebar{
  img{
    @media (max-width: 991px) {
      // display: none;
      width: 100%;
    }
  }
  hr{
    border: 1px solid #E4EBEF;
  }
  .bg-gray{
    background-color: #E9F0F3;
  }
  .custom-icon{
    display: inline-block;
     margin-left: -4px;
     @media (max-width: 991px) {
      // margin-left: 0px;
    }
  }

  .nav-link {
    color: var(--primary-color);
    transition: 0.2s ease;
    .custom-badge{
      background-color: #FB7B7B;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    // border-radius: 50%;
    }
    @media ((min-width: 576px) and (max-width: 991px)) {
      i{
        font-size: 2rem;

      }
      &:has(.fal.fa-comment-dots){
        gap:0px !important;
        .fal{
          flex: 1;
        text-align: center;
        }
      }
    }
    &:hover {
     background-color: rgba(0, 0, 0, 0.05);
    }
    &.active {
      background-color: #eef2ff;
      color: #2d4fff;
      font-weight: 600;
      border-radius: 0.5rem;
    }
    // &.disabled {
    //   pointer-events: none;
    //   opacity: 0.5;
    // }
  }
  
}

