html{
  font-size: 62.5%; // 1rem = 10px

  @media (max-width: 768px) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media (max-width: 480px) {
    font-size: 50%; // 1rem = 8px
  }
}
body{
  *{
    font-size: 1.6rem;
  }
}
