:host {
  display: block;
}
.card-title{
  color: #93A3AB;
}
.success{
  background-color: #E3F4E3;
  color: #65C565;
  padding: .1rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
}
.danger{
  background-color: #F4E3E3;
  color: #C56565;
  padding: .1rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
}