:host {
  display: block;
}
.approved{
  background-color: #E6FDE6;
  color: #78C278;
}
.in-progress{
  background-color: #FFF4DF;
  color: #FAA86D;
}
.pending{
  background-color: #DFF0FF;
  color: #0561FC;
}